@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    height: 100%;
}

.main {
    background-image: url('images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 80vh;
    position: relative;
    width: 100%;
    color: white;

}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.60;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 85vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
    align-items: center;
}

.aman {
    color: rgb(80, 6, 6);
    width: 154px;
    position: relative;
    z-index: 10;
    top: 14px;
    left:4vw;

}

nav button {
    position: relative;
    z-index: 10;
}
/* #lang{
    background-color: white;
    z-index: 10;
} */
 .am{
    margin: 2vw 4vw 3vw 1vw;
 }
.language-select{
        position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(25, 25, 25, 0.5);
    border-radius: 3px;
    top: 25px;
    border: 1px solid rgb(252, 251, 251);
}
.language-select img{
    z-index: 10;
    padding: 5px 3px 5px 20px;
    width: 17px;
}

select{
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border: none;
    z-index: 10;
    font-size: 15px;
    padding: 0px 10px 0px 0px;
}

.hero {
    font-family: "Martel Sans", sans-serif;

    height: calc(100%-60px);
    height: 89.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
    z-index: 10;
    padding: 0 30px;
}

.hero>:first-child {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;

}

.hero>:nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    padding: 1.5vw;
    text-align: center;
}

.separation {
    position:relative;
    height: 50px;
    background: radial-gradient(ellipse at top,#0a0f2c 0%,#000 70%);
    overflow: hidden;

}
.separation::before{
    position: absolute;
    background: radial-gradient( at top,rgba(255,0,76,1)0%,rgba(255,0,76,0.8)40%,rgba(255,0,76,0.1)100%);
    height: 5px;
    content: "";
    top: 10px;
    left: 0px;
    right: 0px;

}

.btn {
    font-family: "Poppins", sans-serif;
    padding: 5px 40px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.02);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    top: 14px;
    margin-right: 10px;
    position: relative;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.btn-red-asm {
    background-color: #e50914;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 6px 20px 6px;
    border: 1px solid rgb(116, 8, 8);
    border-radius: 4px;
    cursor: pointer;
    top: 14px;

    position: relative;
}

.main input {
    padding: 7px 50px 8px 14px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(238, 238, 238, 0.7);

}

.herobuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

}

.first {
    height: 350px;
    max-width: 1160px;
    /* background-color :purple; */
    width: 85vw;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 12vw;

    color: white;
}

.Trend {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

.slides {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.card {
    position: relative;
    flex: 0 0 auto;
    width: 180px;
    height: 250px;
    scroll-snap-align: start;
    border-radius: 8px;
    overflow: visible;
    padding: 15px 10px;

}

.card:hover {
    transform: scale(1.07);
    z-index: 10;
    /* box-shadow:0px 10px 20px rgba(255 255 255 0.2); */
    transition: all 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}

.number {
    position: absolute;
    bottom: 0px;
    left: -15px;
    font-size: 100px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 2px white;
}

.second {
    height: 380px;
    /* background-color :purple; */
    width: 85vw;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 12vw;
    overflow: hidden;
    
}

.slides2{
    display: flex;
    gap: 10px;
    height:350px;
    width:78vw;
}
.card1{
    
    height:250px;
    width: 70vw;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(180deg, #192043 50%, #200f1a 100%);
    border-radius: 17px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.card1 h1{
    font-size: 22px;
    font-weight: 600;
}
.card1 p{
    font-size: 15px;
    font-weight: 400;
    color: rgb(200, 200, 200,1.5);
    line-height: 1.5;
}
.smalling{
    position: relative;
    top: 10px; 
    left:170px;
}
.third{
     height: 650px;
    /* border: 1px solid purple; */
    width: 78vw;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 12vw;
   
}
.faq{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 22px;
    font-size: 24px;
    font-weight: 400;
}


.questions{
    background-color: #2d2d2d;
    width: 78vw;
    margin: 7px auto;

}
.questions:hover{
    background-color: #3a3a3a;
    cursor: pointer;
}
.fourth p{
    
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0px 0px 15px;
}
.fourth{
     height: 150px;
    /* border: 1px solid purple; */
    width: 78vw;
    margin-top: 5px;
    margin-left: 10vw;
    margin-right: 12vw;
    
}
.fourth.herobuttons{
    display: flex;
    gap: 5px;
    justify-content: center;
}
#search input{
    width: 350px;
    padding: 14px 240px 14px 14px;
    font-size: 16px;
    border-radius: 4px;
}
#search button{
    padding: 9px 35px 9px 20px;
    font-size: 24px;
    font-weight: 500;
}
footer{
     height: 290px;
    /* border: 1px solid purple; */
    width: 78vw;
    margin-top: 5px;
    margin-left: 10vw;
    margin-right: 12vw;
    
}
.call{
    color:  rgba(252, 250, 250, 0.7);
margin-bottom: 20px;
}
.call a{
    color:  rgba(244, 241, 241, 0.7);
    text-decoration: underline;
    cursor: pointer;
}
.foot-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
}
.foot{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.foot a{
    color: rgba(244, 241, 241, 0.7);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    padding-top: 20px;
    text-decoration: underline;
    
}
footer p{
    color: rgba(252, 250, 250, 0.7);
    font-size: 14px;
    padding-top: 20px;
}
#para{
    font-size: 13px;
    padding-top: 35px;
}
